<!DOCTYPE html>
{% load static %}
<html>
<title>GREEN home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>GREEN</b>projects</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">추천</a>
      <a href="#projects2" class="w3-bar-item w3-button">스크레핑 통계</a>
      <a href="#projects3" class="w3-bar-item w3-button">머신러닝 통계</a>
      <a href="#about" class="w3-bar-item w3-button">팀</a>
      <a href="#contact" class="w3-bar-item w3-button">연락</a>
      <a href="#maps" class="w3-bar-item w3-button">지도</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/static/img/green.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>GN</b></span> <span class="w3-hide-small w3-text-light-grey">PROJECTS</span></h1>
  </div>
</header>

<!-- Page content-->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section 영화이름 검색하면 화면에 나오게하기 링크부분하면 됨-->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">추천</h3>
  </div>

  <div class="w3-panel w3-padding-150 w3-green">

  <form class="w3-container w3-card-4" action="projects">
  <h2 class="w3-text-white">나에게 맞는 영화찾기</h2>
  <p>원하는 영화를 검색하시면 꼭 맞는 영화를 추천해드립니다</p>
  <p>
  <label class="w3-text-white"><b>영화이름을 입력해주세요</b></label>
  <input class="w3-input w3-border" name="first" type="text" placeholder="영화이름..."></p>
  <p>
  <button class="w3-btn w3-white">검색</button></p>
</form>
<!--    답: 검색의 a테그삭제, form 텝 action="projects" name를 where문에 넣기 -->

  </div>

  <!-- 실시간 검색순위 8위까지 보여줌 -->
  <div class="w3-container">
    <h2>2021년7월 셋째주 박스오피스</h2>
    <p> 자동으로 받아지게 </p>
  </div>

  <div class="w3-content w3-display-container" style="max-width:800px">
    <ul class="w3-content w3-display-container">
      <li class="w3-content w3-display-container">
        <img class="mySlides" src="/static/img/1_a.jpg" style="width:100%"></li>
      <li class="w3-content w3-display-container">
        <img class="mySlides" src="/static/img/2_b.jpg" style="width:100%"></li>
      <li class="w3-content w3-display-container">
        <img class="mySlides" src="/static/img/3_c.jpg" style="width:100%"></li>
      <li class="w3-content w3-display-container">
        <img class="mySlides" src="/static/img/4_d.jpg" style="width:100%"></li>
  <!--실시간 버튼 부분-->
      <div class="w3-center w3-container w3-display-middle w3-section w3-large w3-text-white " style="width:100%">
      <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
      <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
      </div>
    </ul>
  </div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>



  <!-- Project2 Section 스크레핑 통계 -->
  <div class="w3-container w3-padding-32" id="projects2">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">스크레핑통계</h3>
      <p>스크레핑 통계 그래프 </p>
      <p>-----------------하이차트 활용 예정--------------------</p>
  </div>


  <!-- Project3 Section 머신러닝 통계 -->
  <div class="w3-container w3-padding-32" id="projects3">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">머신러닝통계</h3>
      <p>머신러닝 통계 그래프 </p>
      <p>-----------------하이차트 활용 예정--------------------</p>
  </div>

  <!-- About Section 우리 소개 -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">팀</h3>
      <p>팀 정보</p>
      <p>------------박건욱님 만드는 중-----------------</p>
  </div>

  <!-- Contact Section 여기에 값넣으면 db에 담길 수 있도록 -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">연락</h3>
    <p>연락하면 우리가 받을수 있게 </p>
    <form action="/action_page.php" target="_blank">
      {% csrf_token %}
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-green w3-section" type="submit">
        <i class="fa fa-paper-plane"><a href="axlovexa@nate.com"></a></i> SEND MESSAGE

      </button>
    </form>
  </div>

<!-- 멀티캠퍼스 위치 알려주기 -->
<div class="w3-container">
  <img src="/static/img/gword.jpg" class="w3-image" style="width:10%">
    <p>맵 뿌리기</p>>
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>교육처<a href="https://www.multicampus.com/" title="multi" target="_blank" class="w3-hover-text-green">멀티캠퍼스</a></p>
</footer>

</body>
</html>
