<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>GN</b> MOVIES</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="#projects" class="w3-bar-item w3-button">Projects</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="/static/img/green3.jpg" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>GN</b></span> <span class="w3-hide-small w3-text-light-grey">MOVIES</span></h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
    </div>


    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">'팀이름' 및 소개</h3>
      <p>소개글
      </p>
    </div>

    <div class="w3-row-padding " >

      <div class="w3-col l3 m6 w3-margin-bottom">
        <a><img src="/static/img/주창석.jpg" alt="주창석" style="width:50%"></a>
        <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">주창석</button>
          </div>
        <h3>Changsuk Joo</h3>
        <p class="w3-opacity">the Department of Czech language &#127757;</p>
        <p class="w3-opacity">Taurus &#128003;</p>
        <p>Scrapping &#128187;</p>
      </div>

      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/static/img/김수원.jpg" alt="Jane" style="width:50%">
          <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">김수원</button>
          </div>
        <h3>Suwon Kim</h3>
        <p class="w3-opacity">the Department of Business Administration &#127970;</p>
        <p class="w3-opacity">Cancer &#129408;</p>
        <p>Machine Learning and Data Analysis Operations &#128187;</p>
      </div>

      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/static/img/박건욱.jpg" alt="Mike" style="width:50%">
          <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">박건욱</button>
          </div>
        <h3>Gunuk Park</h3>
        <p class="w3-opacity">Electronics and Aeronautics &#127981;</p>
        <p class="w3-opacity">Capricorn &#128016;</p>
        <p>HTML Operations &#128187;</p>
      </div>

      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/static/img/유설영.jpg" alt="Mike" style="width:50%">
          <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">유설영</button>
          </div>
        <h3>Sulyoung Yoo</h3>
        <p class="w3-opacity">Tourism Management &#128506;</p>
        <p class="w3-opacity">Aquarius &#127862;</p>
        <p>HTML Operations &#128187;</p>
      </div>

      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/static/img/김주희.jpg" alt="JuheeKim" style="width:50%" class="w3-hover-opacity">
          <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">김주희</button>
          </div>
        <h3>Juhee Kim</h3>
        <p class="w3-opacity">the Department of Air trevel & tourism &#9992;</p>
        <p class="w3-opacity">Aries &#128017;</p>
        <p>Web-server & PM &#128187;</p>
      </div>

    </div>


  <!-- Image of location/map -->
  <div class="w3-container">
    <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
  </div>

  <!-- End page content -->
  </div>

  <!-- Footer maps 넣을 부분 -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>

</body>
</html>
