<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>여기는 index01 입니다 </h1>
<!--    <h2>{{first}} {{second}}</h2>-->
<!-- <h1>maps home</h1>-->
<!-- <h2>{{ f01 }}</h2>-->
<!-- <h2>{{ mapfolium | safe }}</h2>-->

<!--    <div class="w3-container">-->
<!--      <h1 class="w3-center w3-animate-top">추천내용</h1>-->
<!--      <h1 class="w3-center w3-animate-top">추천내용2</h1>-->
<!--      <h1 class="w3-center w3-animate-top">추천내용3</h1>-->
<!--    </div>-->


</body>
</html>